// font-family: 'Cutive Mono', monospace;
// font-family: 'Great Vibes', cursive;
// font-family: 'Henny Penny', cursive;
// font-family: 'Montez', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Sacramento', cursive;
// font-family: 'Viaoda Libre', cursive;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@mixin flex($justify,$direct){
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direct;
}

body{
  background:linear-gradient(#333333,#76CCB1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive;
}

:root{
  --primary-color : #76CCB1;
  --secondary-color: #333333;
  --tertiary-color:white;
}